@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
  background-color: hsl(30, 38%, 92%);
}
.card {
  min-width: 600px;
  width: 30%;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}
main {
  width: 100%;
}
.left {
  width: 50%;
  background-image: url(images/image-product-desktop.jpg);
  background-position: center;
  background-size: cover;
}
.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 35px 40px;
}

.item-category {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 16px;
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: 32px;
  font-weight: 700;
  color: hsl(212, 21%, 14%);
  font-family: "Fraunces", sans-serif;
}
.description {
  width: 100%;
  font-size: 12px;
  line-height: 1.6;
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
}

.price {
  width: 100%;
  display: flex;
  gap: 24px;
  align-items: center;
}
.price-update {
  font-size: 34px;
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces", sans-serif;
}
.price-previous {
  font-size: 14px;
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
}

button {
  width: 100%;
  padding: 17px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: hsl(158, 36%, 37%);
  font-weight: 700;
  gap: 10px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
button:hover {
  background-color: hsl(158, 76%, 20%);
}
@media (max-width: 610px) {
  .card {
    min-width: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
  .left {
    width: 100%;
    height: 350px;
    background-image: url(images/image-product-mobile.jpg);
    border-radius: 10px 10px 0 0;
  }
  .right {
    width: 100%;
    row-gap: 12px;
    padding: 25px;
    border-radius: 0 0 10px 10px;
  }
  .item-category {
    font-size: 14px;
  }
  h1 {
    font-size: 32px;
    line-height: 1;
  }
  .description {
    width: 95%;
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 1.7;
    font-size: 12px;
  }

  button {
    margin: 10px;
  }
}
